.mapView {
  height: 100vh;
  width: 100vw;
}

.searchBar {
  position: absolute;
  display: flex;
  align-items: center;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 60%;
  max-width: 400px;
}

.searchBar input {
  width: 100%;
  padding: 18px;
  padding-left: 20px;
  border: 1px solid #ccc;
  border-radius: 100px;
  outline: none;
}

.searchBar svg {
  margin-left: -35px;
  color: #888;
}

/* Container for the toggle */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 25px; /* Adjust size as needed */
  height: 14px;
}

/* Hide the default HTML checkbox */
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider/track */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc; /* Off color */
  transition: .4s; /* Smooth transition for color and position */
  border-radius: 34px; /* Makes it round */
}

/* The knob (using ::before pseudo-element) */
.slider::before {
  position: absolute;
  content: "";
  height: 10px; /* Slightly smaller than height of slider (34px - 4px padding top/bottom) */
  width: 10px;
  left: 2px; /* Initial position */
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%; /* Makes the knob circular */
}

/* Change background color when the checkbox is checked */
input:checked + .slider {
  background-color: #2196F3; /* On color */
}

/* Move the knob when the checkbox is checked */
input:checked + .slider::before {
  transform: translateX(11px);
}